/* CSS declarations go here */
#sidebar {
  width: 20%;
  float: left;
  height: 100%;
  color: rgb(211,211,211);
}

.btn-sidebar {
  /* margin: 10px auto; */
  width: 100%;
  border-radius: 0 !important;
}

#nucleus_editor {
  width: 80%;
  float: right;
  height: 900px;
}

.jstree-anchor {
  color: #422 !important;
}
.alert {
  margin-bottom: 0px !important;
}