html, body {
  margin: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
/* CSS declarations go here */

#sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  float: left;
  overflow: scroll;
  width: 20%;
  min-height: 100%;
  color: rgb(211, 211, 211);
  /* background: #272822; */
  
  background: #252525;
}
.nucleus_tree_node {
  overflow: scroll;
  width: 100%;
}
#nucleus_file_tree {
  overflow: scroll;
  max-height: 350px;
}
.nuc-btn-sidebar {
  /* margin: 10px auto; */
  
  width: 100%;
  border-radius: 0 !important;
}

#nuc-editor, #nucleus_editor, .nucleus-deploy-form {
  float: right;
  width: 80%;
  height: calc(100vh - 35px) !important;
}
#nucleus_editor, .nucleus-deploy-form {
  width: 100%;
}

.alert {
  margin-bottom: 0 !important;
}

/* START NICK PROMPT */
#nucleus_login_prompt {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  float: left;
  height: 100%;
  padding: 185px;
  text-align: center;
  background: rgba(2, 2, 2, 0.8);
}
#nucleus_login_form {
  height: 200px;
  padding-top: 55px;
  border-radius: 10px;
  background: transparent;
}

.user-status-box {
  position: relative;
  display: inline;
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  transition: opacity 500ms;
  background: transparent;
}
.extra-cursor {
  position: absolute;
  -webkit-animation: nuc-blink .5s steps(5, start) infinite;
  animation: nuc-blink .5s steps(5, start) infinite;
  border-left: 2px solid #f00;
  background-color: #f00;
}
@keyframes nuc-blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes nuc-blink {
  to {
    visibility: hidden;
  }
}
.user_nick_cursor_label {
  position: absolute;
  z-index: 9;
  display: none;
  background-color: #fff;
}
/* END NICK PROMPT */

/* START LOGIN BOX */
.login-with-github-btn {
  padding-left: 61px !important;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.41);
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}
.login-with-github-btn :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.41);
}

.login-with-github-btn:hover {
  background: rgba(169, 170, 165, 0.3);
  color: #fff;
}

.login-with-github-btn:active {
  background: rgba(51, 51, 51, 0.8);
  color: #888;
}
/* END LOGIN BOX */



/* CHAT BOX */

.chat_box {
  font-size: 14px;
}
.chat_history {
  overflow: scroll;
  width: 100%;
  height: 171px;
  padding: 5px;
  background: rgba(222, 222, 222, .2);
}
.chat_input {
  width: 100%;
  height: 35px;
  padding: 8px !important;
  color: rgba(169, 170, 165, 1) !important;
  border: 0 none;
  outline: none;
  background: #3a3a3a;
}
/* END CHAT BOX */
/* FOOTER CONTROL BOX */

.active-box {
  background: #3a3a3a;
}
.footer_controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  padding: 0;
  text-align: center;
  background: none repeat scroll 0 0 #1d1e16;
}
.footer_controls a {
  display: inline-block;
  margin-top: -5px;
  margin-left: -5px;
  padding: 10px 15px;
  cursor: pointer;
  color: rgba(169, 170, 165, 1);
}
.footer_controls a:hover {
  color: #fff;
}
.footer_popup {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  height: 215px;
  padding: 5px;
  background: #252525;
}
/* END FOOTER CONTROL BOX */
/* BUDDY BOX */

.buddy_list {
  height: 205px;
  padding: 2px 0;
  list-style-type: none;
  background: rgba(255, 255, 255, .1);
}
.buddy_list li {
  padding: 10px;
}
.buddy-color-box {
  display: inline block;
  float: left;
  width: 20px;
  height: 20px;
  transition: opacity 500ms;
}
.buddy_name {
  font-size: 14px;
  margin: 0 15px;
}
.buddy_detail {
  cursor: pointer;
}
/* END BUDDY BOX */
/* buttons */

.sidebar-row {
  position: relative;
  width: 100%;
}
.nuc-btn-custom {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-image: none;
}
.nuc-btn-dark {
  color: #d2d2d2;
  border: 1px solid #3b3d3b;
  border-radius: 0;
  background: #303130;
}
.nuc-btn-dark:active {
  color: #fff;
  background-color: #494949;
}
.nuc-btn-dark:hover {
  text-decoration: none;
  color: #fff;
}
.nuc-btn-dark-active {
  color: #fff;
  background-color: #494949;
}
.nuc-btn-30 {
  width: 30%;
  max-width: 30%;
  margin: 8px 3px;
}
.nuc-btn-80 {
  width: 80%;
  margin: 10px 5%;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.deploy-btn-icon {
  font-size: 16px;
  margin-left: -10px;
  padding: 0 10px;
}
@media (max-width: 1220px) {
  .nuc-btn-30 {
    width: 80%;
    max-width: 100%;
    margin: 3px;
  }
  .commit-btn {
    width: 80% !important;
    margin: 3px;
    margin-left: 10% !important;
  }
  #sidebar-commit-message {
    width: 95% !important;
  }
  .deploy-btn-icon {
    padding: 0 3px;
  }
  .sidebar-commit-row {
    margin: 0 !important;
    margin-bottom: 5px !important;
  }
}
/* end buttons */
/* sidebar commit */

.commit-btn {
  display: inline-block;
  float: left;
  width: 35%;
  margin-left: 3%;
  padding-left: 5px;
}
.sidebar-commit-row {
  overflow: hidden;
  /* clear fix */
  
  margin: 10px 0;
}
#sidebar-commit-message {
  font-family: sans-serif;
  line-height: 1 !important;
  display: inline-block;
  float: right;
  width: 57%;
  margin-right: 3%;
  padding: .45rem .2rem;
  color: #ccc;
  border: 1px solid #3b3d3b;
  background: rgba(255, 255, 255, .1);
}
/* end sidebar commit */
/* labels  */

.sidebar-marker-label {
  font-size: 11px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 22px;
  padding: 3px;
  cursor: default;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #c6ecbc;
  border-top: 1px solid rgba(255, 255, 255, .12);
  border-bottom: 1px solid #1a1919;
  background-color: #303130;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(31, 31, 31, .64)), color-stop(1, #2e2e2e));
  background-image: -moz-gradient(linear, left bottom, left top, color-stop(0, rgba(31, 31, 31, .64)), color-stop(1, #2e2e2e));
  box-shadow: 0 1px 0 rgba(255, 255, 255, .06);
}
/* end labels  */
/* jstree theme  */
/* contextmenu */

.vakata-context {
  z-index: 999 !important;
}
.vakata-context,
.vakata-context ul {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: rgba(256, 256, 256, .8);
  box-shadow: inset 0 0 17px 60px rgba(151, 153, 144, .6);
}
.vakata-context li > a .vakata-contextmenu-sep {
  border-left: none;
  background: transparent;
}
.vakata-context li > a {
  line-height: 2.4em;
  display: block;
  width: auto;
  white-space: nowrap;
  /* padding: 0 30%; */
  
  text-decoration: none;
  color: #222;
  border-radius: 0;
  text-shadow: 0 0 0 white;
}
.vakata-context .vakata-context-separator > a,
.vakata-context .vakata-context-separator > a:hover {
  border-top: none !important;
  border-left: none !important;
}
.vakata-context .vakata-contextmenu-disabled a,
.vakata-context .vakata-contextmenu-disabled a:hover {
  color: rgba(256, 256, 256, .7);
  border: 0;
  background-color: transparent;
  box-shadow: 0 0 0;
  text-shadow: 0 0 1px #222;
}
.vakata-context .vakata-context-hover > a,
.vakata-context .vakata-context-hover > a:hover {
  position: relative;
  border-radius: 5px;
  background-color: rgba(256, 256, 256, .7);
  box-shadow: none;
}
/* end contextmenu */

#nucleus_file_tree {
  background: rgba(255, 255, 255, .1);
}
/* user status box hints */

.hint:after,
[data-hint]:after {
  font-size: 12px;
  line-height: 12px;
  padding: 8px 10px;
  content: attr(data-hint);
  white-space: nowrap;
  color: white;
  background: #272822;
}
.hint--left:before {
  border-left-color: #272822;
}
/* end user status box hints */

.jstree-default .jstree-clicked {
  cursor: pointer;
  border-radius: 3px;
  background: rgba(255, 255, 255, .1);
}
.vakata-context li > a:hover {
  cursor: pointer;
  border-radius: 3px;
  background: rgba(255, 255, 255, .1);
}
.vakata-context .vakata-context-separator > a,
.vakata-context .vakata-context-separator > a:hover {
  cursor: pointer;
  border-radius: 3px;
  background: rgba(255, 255, 255, .1);
}
.jstree-default .jstree-hovered {
  cursor: pointer;
  border-radius: 3px;
  background: rgba(255, 255, 255, .1);
}
.jstree-default .jstree-disabled.jstree-hovered {
  background: transparent;
  box-shadow: none;
}
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
  background: rgba(151, 153, 144, 1);
}
.jstree-default > .jstree-wholerow-ul .jstree-hovered,
.jstree-default > .jstree-wholerow-ul .jstree-clicked {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}
.jstree-default .jstree-wholerow-hovered {
  background: rgba(151, 153, 144, 1);
}
/* end jstree theme  */
/* flash messages */

#flash_messages {
  position: fixed;
  z-index: 999;
  right: 3%;
  bottom: 10px;
  min-width: 20%;
}
.alert {
  font-size: 12px;
  line-height: 2;
  margin-top: 10px;
  background: rgba(121, 121, 121, .5);
}
.alert.alert-success.alert-dismissable {
  background: rgba(70, 121, 70, .5);
}
.alert.alert-error.alert-dismissable {
  background: rgba(218, 67, 67, .4);
}
.alert.alert-info.alert-dismissable {
  background: rgba(35, 206, 218, .5);
}
.alert.alert-warning.alert-dismissable {
  background: rgba(218, 206, 65, .4);
}
/* end flash messages */
/* topbar */

#nucleus_topbar {
  float: right;
  width: 80%;
  height: 35px;
  background: #252525;
}
.button-group {
  margin-top: 3px;
  margin-right: 5px;
}
.button-group-right {
  float: right;
}
.button-group-left {
  float: left;
  margin-left: 10px;
}
.nuc-btn-topbar {
  padding: 3px 15px;
  color: #d2d2d2;
  border-radius: 0;
  background: transparent;
}
.nuc-btn-topbar:hover {
  text-decoration: none;
  color: #fff;
}
.nuc-btn-save i {
  color: #37aa73;
}
.nuc-btn-save:active i {
  color: #fff;
}
.nuc-btn-discard i {
  color: #aa3737;
}
.nuc-btn-discard:active i {
  color: #fff;
}
/* end topbar */
/* nucleus terminal */

.nucleus_terminal {
  position: fixed;
  z-index: 9;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
}
#shell-panel {
  background: rgba(30, 33, 44, .82) !important;
}
.terminal .cmd {
  background: rgba(30, 33, 44, .92);
}
.cmd .cursor.blink {
  -webkit-animation: blink 1s infinite steps(1, start);
  -moz-animation: blink 1s infinite steps(1, start);
  -ms-animation: blink 1s infinite steps(1, start);
  animation: blink 1s infinite steps(1, start);
}
/* end nucleus terminal */
/*!
 * Nucleus make me ribbon. 
 */

.nucleus-make-me-ribbon-wrapper {
  position: fixed;
  right: 50px;
  bottom: 50px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.nucleus-make-me-ribbon-wrapper img {
  height: 50px;
  transition: opacity 1s ease;
}
/* Nucleus video chat film */

.nucleus-video-chat-film {
  position: absolute;
  z-index: 9;
  top: 35px;
  right: 0;
  bottom: 0;
  width: 15%;
  min-height: 100vh;
  background: rgb(58, 58, 58);
}
#remote-nucleus-videos video {
  height: 25%;
}
#local-nucleus-video {
  height: 25%;
}
.incoming-call {
  -webkit-animation-name: greenPulse;
  -moz-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  color: rgb(82, 196, 82);
  border-color: rgb(82, 196, 82);
}
@-webkit-keyframes greenPulse {
  from {
    color: #749a02;
    border-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    color: #91bd09;
    border-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }
  to {
    color: #749a02;
    border-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
}
/*  MASTER-PROMTP */

.nucleus-master-prompt {
  position: fixed;
  z-index: 9;
  top: 35px;
  right: 10%;
  overflow: hidden;
  width: 600px;
  min-width: 600px;
  max-width: 600px;
  min-height: 45px;
  max-height: 60vh;
  border: 1px solid #3b3d3b;
  background: #3a3a3a;
}
.nucleus-master-prompt input {
  font-size: 19px !important;
  position: fixed;
  width: inherit;
  padding: 10px !important;
  color: rgb(166, 166, 166) !important;
  background: rgb(58, 58, 58) !important;
}
.nucleus-master-prompt ul {
  color: rgb(177, 177, 177);
  position: relative;
  top: 45px;
  background: rgb(37, 37, 37);
  height: inherit;
  max-height: inherit;
  overflow: scroll;
}
.nucleus-master-prompt ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #3b3d3b;
}

.nucleus-master-prompt ul li:hover {
  background: rgba(50, 60, 70, .32);
}
.nucleus-master-prompt ul li:active {
  background: rgba(50, 60, 70, .43);
}

.nucleus-master-prompt-active {
  background: rgba(70, 80, 90, .32);
}


/* start nucleus-deploy-form */
.nucleus-deploy-form {
  background: #272822;
}
.line-number-row {
  height: inherit;
  width: 1px;
  background: #2F3129;
  float: left;
}

.nucleus-deploy-tab-bar {
  width: calc(100% - 1px);
  float: right;
  padding: 0 10px;
  color: rgb(211, 211, 211);
  background: rgb(47, 49, 41);
}
.meteor-deploy {
  border-right: 2px solid #3B3D3B;
}
.meteor-deploy, .custom-deploy {
  height: 40px;
  padding: 6px 10px;
  width: 100px;
  text-align: center;
  float: left;
}
.meteor-deploy:hover, .custom-deploy:hover {
  cursor: pointer;
  background: rgb(58, 58, 58);
  color: #fff;
}
.meteor-deploy:active, .custom-deploy:active {
  background: rgb(48, 48, 48);
}
.nucleus-deploy-active {
  background: rgb(37, 37, 37);
}

.nucleus-deploy-form-window {
  color: rgb(203, 203, 203);
  float: left;
  width: calc(100% - 1px); 
  height: inherit;
}
.nucleus-deploy-header {
  color: rgb(203, 203, 203);
  font-size: 27px;
  margin: 20px;
  margin-left: 10%;
}

.nucleus-deploy-main-form {
  min-height: 300px;
  width: 70%;
  border: 1px solid #3B3D3B;
  margin-left: 10%;
  background: rgb(58, 58, 58);
}
.nucleus-deploy-form-submit-button {
  padding: 8px;
  color: rgb(222,222,222);
  border: 1px solid rgb(59, 61, 59);
  width: 100px;
  text-align: center;
  cursor: pointer;
  background: rgb(48, 49, 48);
  margin-left: 5%;
}

.nucleus-deploy-form-submit-button:hover {
  background: rgb(38, 39, 38);
}
.nucleus-deploy-form-submit-button:active {
  background: rgb(28, 29, 28);
}

.nuc-form-row {
  width: 80%;
  margin: 5%;
}

.nucleus-deploy-main-form label {
 vertical-align: middle; 
}

.nucleus-deploy-main-form input {
  width: 60%;
  float: right;
  background: rgb(80, 79, 79);
  height: 38px;
  border: 1px solid rgb(99, 94, 94);
  padding: 0 20px !important;
  color: #fff !important;
}
/* end nucleus-deploy-form */